<a href="https://colab.research.google.com/github/bitsofnikhil/CODSOFT/blob/main/BCE_C307.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 1

In [ ]:
from datetime import datetime

In [ ]:
print("Nikhil Kumawat")

Nikhil Kumawat

In [ ]:
name=input("Enter your name:")
print(name)

Enter your name:

In [ ]:
name=input("Enter your name:")
age=input("ENter your age:")
print(name)
print(age)

Enter your name:a
ENter your age:
a

In [ ]:
a=10
b=20
print("Before swap a=",a)
print("Before swap b=",b)
a=a+b
b=a-b
a=a-b
print("After swap a=",a)
print("After swap b=",b)

Before swap a= 10
Before swap b= 20
After swap a= 20
After swap b= 10

In [ ]:
a=10
b=20
a,b=b,a
print(a,b)

20 10

In [ ]:
name=input("Enter your name:")
birth_year=input("Enter your birth year:")
current_datetime = datetime.now()
age=current_datetime.year-int(birth_year)

# print(age)
# age=2025-int(age)
print(f"Welcome {name}, your age is {age}")

Enter your name:a
Enter your birth year:a

ValueError: invalid literal for int() with base 10: 'a'

                                                    DAY-2

In [ ]:
print("CSE","gkv.ac.in","ji",sep='@',end="#")

In [ ]:
m=10
id(m)

In [ ]:
n=m
id(n)

In [ ]:
n=-6
m=-6
id(n)

In [ ]:
id(m)

In [ ]:
f=1.2e3
print(f)

In [ ]:
y=1
x=y
y=2
print(x,y)

list is mutable so this change is happening but integer cannot be change
Integer,float,string,tuple They are immutable

In [ ]:
a=[1,2,3,4]
b=a
a.append(5)
print(a)
print(b)

In [ ]:

y=2*(1+5)
print(y)

In [ ]:
bool(0)
bool(1)

In [ ]:
True+True

In [ ]:
True-False

In [ ]:
print('{0:8} | {1:9} | {2:>10}'.format('Fruit','Quantity','Price'))
print('{0:>8} | {1:9} | {2:10}'.format('Apples',3.,100))
print('{0:>8} | {1:9} | {2:>10}'.format('Oranges',10,240))

In [ ]:
print("He said his name was %s."%'Nikhil')
print("He said his name was %r."%'Nikhil')

In [ ]:
print("My 10 character, four decimal number is:{0:10.4f}".format{num})
print("My 10 character, four decimal number is:{num:{10},{6}")

In [ ]:
6/5

In [ ]:
6//5

In [ ]:
6%5

In [ ]:
2**(3*2)*2

In [ ]:
2*3**2

DAY-3

In [ ]:
s='nikhil'
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])
# print(s[6])
# s[1]='a'

In [ ]:
s[1:4]

In [ ]:
s[0:]

In [ ]:
s[0:100]

In [ ]:
s[-1:]

In [ ]:
s[-3:]

In [ ]:
s[:-3]

In [ ]:
s[:3]+s[3:]

In [ ]:
name='Python Programming'

In [ ]:
print(name[0],name[7],len(name))

In [ ]:
print(name[1::2])

In [ ]:
s[:]

In [ ]:
s[::]

In [ ]:
original='eleven plus two'

In [ ]:
first=original[:6]

In [ ]:
second=original[6:12]

In [ ]:
third=original[12:]

In [ ]:
first2=first[:2]

In [ ]:
first3=first[2]

In [ ]:
first45=first[3:5]

In [ ]:
first6=first[-1]

In [ ]:
third2=third[:2]

In [ ]:
third3=third[-1]

In [ ]:
original=first2+first3+first45+first6+second+third2+third3
modified=third2+first2+first45+second+third3+first6+first3

In [ ]:
print(original,"==",modified)

eleven plus two == twelve plus one

In [ ]:
roll_no=(input("Enter your roll no.:"))

print("Department=",roll_no[:2])
print("Addimission Year= 20"+roll_no[2:4])
if(roll_no[4:5]=='B'):
  print("Course enrolled B.Tech")
elif(roll_no[4:5]=='M'):
  print("Course enrolled M.Tech")
elif(roll_no[4:5]=='P'):
  print("Course enrolled P.hd")
  print("Class rank="+roll_no[5:])

Enter your roll no.:CS23B010
Department= CS
Addimission Year= 2023
Course enrolled B.Tech

In [ ]:
a="Hello Python"

In [ ]:
a.split()

['Hello', 'Python']

In [ ]:
a.count('Hello Python')

1

In [17]:
b="Hello"
# for i in b:
reverse=b[ : :-1]

print(reverse)

olleH

In [16]:
b.swapcase()

'hELLO'

In [6]:
x=1
def myFun():
  # global x
  x=5
  # x +=5

myFun()
print("Python is",x)

Python is 1

In [10]:
import math
def square(n):
  result=pow(n,2)
  return result
print(square(5))

25